body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
}


.header{
    color: #F9FAF8;
    font-weight: 900;
    margin: 24px;
}

.body {
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 100px;
}

.input{

}

.output{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    
}

.field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px;
}

input{
    margin-left: 6px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0px; 
}